html, body {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #f8f8f8;
}

.section-title {
  font-size: 35px;
  margin-bottom: 20px;
  font-weight: bold;
  text-align: left;
  color: #333;
}

.gallery_countainer {
    padding: 20px;
    padding-top: 120px;
} 

.tabs {
  display: flex;
  gap: 15px;
  margin-top: 20px;
  margin-bottom: 25px;
  flex-wrap: wrap;
}

.tab {
  padding: 8px 16px;
  border-radius: 20px;
  background-color: #eaeaea;
  color: #333;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.2s ease-in-out;
}

.tab:hover {
  background-color: #111;
  color: #fff;
}

.tab.active {
  background-color: black;
  color: white;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.card {
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  transition: transform 0.2s ease;
  cursor: pointer;
}

.card img {
  width: 100%;
  height: 180px;
  object-position: top;
  object-fit: cover;
  transition: transform 0.3s ease;
  display: block;
}

.card:hover img {
  transform: scale(1.05);
}

.card-title {
  padding: 12px;
  font-weight: bold;
  font-size: 15px;
  color: #333;
}

/* Modal Styles */
.modal {
  display: none;
  position: fixed;
  z-index: 99999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
  justify-content: center;
  align-items: center;
}

.modal-content {
  max-width: 90%;
  max-height: 90%;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(255,255,255,0.2);
}

.close {
  position: absolute;
  top: 20px;
  right: 30px;
  color: white;
  font-size: 40px;
  cursor: pointer;
}

.carousel {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.slides {
  display: flex;
  width: 100%;
  height: 100%;
}

.slide {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
}

.slide.active {
  display: block;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
  font-size: 2rem;
  color: white;
  padding: 10px;
  cursor: pointer;
}

.arrow.left {
  left: 10px;
}

.arrow.right {
  right: 10px;
}

@media (max-width: 1024px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}