body {
  margin: 0;
  padding-top: 130px;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f2f2f2;
  min-height: 100vh;
}

.section-title {
  font-size: 35px;
  margin-bottom: 30px;
  font-weight: bold;
  text-align: center;
  color: #333;
}

.container-card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  width: 800px;
  height: 450px;
  background-color: white;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

.card-img img {
  max-width: 400px;
  height: 100%;
  object-fit: cover;
}

.card-info {
  padding: 40px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.label {
  color: gray;
  font-size: 14px;
  margin: 5px 0 2px;
}

.name {
  font-size: 15px;
  font-weight: bold;
  margin: 0 0 20px;
}

.team img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
  border: 2px solid white;
  box-shadow: 0 0 0 1px gray;
}

.social-links {
  display: flex;
  gap: 15px;
  margin-top: 10px;
}

.social-button {
  width: 40px;
  height: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid #ddd;
  transition: 0.3s ease;
  background-color: white;
}

.social-button:hover {
  background-color: #f0f0f0;
  transform: scale(1.1);
}

.social-button img {
  width: 30px;
  height: 30px;
}
